.choose-background-container {
    position: absolute;
    bottom: -15rem;
    transition: bottom 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.choose-background-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}