.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    font-family: 'Space Mono', monospace;
    transition: all 0.3s ease;
}

.date.inactive {
    opacity: 0;
    cursor: default;
    pointer-events: none;
}