.settings-footer {
    position: fixed;
    bottom: 0;
    left: 25vw;
    width: 50%;
    height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-container {
    position: absolute;
    bottom: -15rem;
    transition: bottom 0.3s ease-in-out;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.selects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-footer:hover .settings-container {
    bottom: 0;
}

.background-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-button {
    font-family: 'Space Grotesk', sans-serif;
    margin: 1rem;
    text-decoration: none;
    background: none;
    border: none;
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 1.5rem;
    outline: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    font-weight: 200;
    cursor: pointer;
}

.background-button:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.8);
}