.toggle-switch {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    font-family: 'Space Grotesk', sans-serif;
    margin: 1rem;
}

.toggle-switch * {
    cursor: pointer;
}

.toggle-switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 1.5rem;
    outline: 2px solid var(--primary-outline);
}

.label{
    color: var(--primary-text);
    font-size: 0.9rem;
    font-weight: 200;
    transition: all 0.3s ease;
}

.toggle-switch input:checked + .label-container {
    outline: 2px solid var(--selected-color);
    box-shadow: 0 0 15px 2px var(--toggle-glow);
}

.toggle-switch input:checked + .label-container .label {
    color: var(--selected-color);
}

.toggle-switch:hover .label-container {
    box-shadow: 0 0 5px var(--hover-shadow);
}

.toggle-switch:hover .label {
    color: var(--hover-text);
}